<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_porua"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_porua_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Porua"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".SwapRequest"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclearViewForAdminBook"
            android:exported="false" />
        <activity
            android:name=".FetchBook"
            android:exported="false" />
        <activity
            android:name=".RecyclearViewActivity"
            android:exported="false" />
        <activity
            android:name=".SaveBookActivity"
            android:exported="false" />
        <activity
            android:name=".uploadbooks"
            android:exported="false" />
        <activity
            android:name=".desc"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".Nov"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".Swap_Page2"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".SaveData"
            android:exported="false" />
        <activity
            android:name=".MenuBar"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".Search_bar"
            android:exported="false" />
        <activity
            android:name=".Favorite_list"
            android:exported="false" />
        <activity
            android:name=".Thriller"
            android:exported="false" />
        <activity
            android:name=".Poetry"
            android:exported="false" />
        <activity
            android:name=".Novel"
            android:exported="false" />
        <activity
            android:name=".Science_Fiction"
            android:exported="false" />
        <activity
            android:name=".swap_page"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="false" />
        <activity
            android:name=".signUp_Page"
            android:exported="false" />
        <activity
            android:name=".Login_page"
            android:exported="false" />
        <activity
            android:name=".startPage"
            android:exported="false" />
        <activity
            android:name=".startActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1630906110991591" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Porua"
            tools:ignore="MissingClass" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https://project-porua-1556b.firebaseapp.com/__/auth/handler" />
            </intent-filter>
        </activity>
    </application>

</manifest>